In [5]:
import pandas as pd
import seaborn as sns
import plotly.express as px
import numpy as np

import matplotlib.pyplot as plt

In [6]:
df=px.data.gapminder()

In [21]:
df.head(10)

,country,continent,year,lifeExp,pop,gdpPercap,iso_alpha,iso_num
0,Afghanistan,Asia,1952,28.801,8425333,779.445314,AFG,4
1,Afghanistan,Asia,1957,30.332,9240934,820.853030,AFG,4
2,Afghanistan,Asia,1962,31.997,10267083,853.100710,AFG,4
3,Afghanistan,Asia,1967,34.020,11537966,836.197138,AFG,4
4,Afghanistan,Asia,1972,36.088,13079460,739.981106,AFG,4
5,Afghanistan,Asia,1977,38.438,14880372,786.113360,AFG,4
6,Afghanistan,Asia,1982,39.854,12881816,978.011439,AFG,4
7,Afghanistan,Asia,1987,40.822,13867957,852.395945,AFG,4
8,Afghanistan,Asia,1992,41.674,16317921,649.341395,AFG,4
9,Afghanistan,Asia,1997,41.763,22227415,635.341351,AFG,4

In [8]:
df['lifeExp'].sum()

101344.44467999999

In [9]:
df['lifeExp'].mean()

59.47443936619713

In [10]:
df.describe()

             year      lifeExp           pop      gdpPercap      iso_num
count  1704.00000  1704.000000  1.704000e+03    1704.000000  1704.000000
mean   1979.50000    59.474439  2.960121e+07    7215.327081   425.880282
std      17.26533    12.917107  1.061579e+08    9857.454543   248.305709
min    1952.00000    23.599000  6.001100e+04     241.165877     4.000000
25%    1965.75000    48.198000  2.793664e+06    1202.060309   208.000000
50%    1979.50000    60.712500  7.023596e+06    3531.846989   410.000000
75%    1993.25000    70.845500  1.958522e+07    9325.462346   638.000000
max    2007.00000    82.603000  1.318683e+09  113523.132900   894.000000

In [11]:
#deviations

In [12]:
df.describe()

             year      lifeExp           pop      gdpPercap      iso_num
count  1704.00000  1704.000000  1.704000e+03    1704.000000  1704.000000
mean   1979.50000    59.474439  2.960121e+07    7215.327081   425.880282
std      17.26533    12.917107  1.061579e+08    9857.454543   248.305709
min    1952.00000    23.599000  6.001100e+04     241.165877     4.000000
25%    1965.75000    48.198000  2.793664e+06    1202.060309   208.000000
50%    1979.50000    60.712500  7.023596e+06    3531.846989   410.000000
75%    1993.25000    70.845500  1.958522e+07    9325.462346   638.000000
max    2007.00000    82.603000  1.318683e+09  113523.132900   894.000000

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   country    1704 non-null   object
 1   continent  1704 non-null   object
 2   year       1704 non-null   int64
 3   lifeExp    1704 non-null   float64
 4   pop        1704 non-null   int64
 5   gdpPercap  1704 non-null   float64
 6   iso_alpha  1704 non-null   object
 7   iso_num    1704 non-null   int64
dtypes: float64(2), int64(3), object(3)
memory usage: 106.6+ KB

In [14]:
df.isnull()

      country  continent   year  lifeExp    pop  gdpPercap  iso_alpha  iso_num
0       False      False  False    False  False      False      False    False
1       False      False  False    False  False      False      False    False
2       False      False  False    False  False      False      False    False
3       False      False  False    False  False      False      False    False
4       False      False  False    False  False      False      False    False
...       ...        ...    ...      ...    ...        ...        ...      ...
1699    False      False  False    False  False      False      False    False
1700    False      False  False    False  False      False      False    False
1701    False      False  False    False  False      False      False    False
1702    False      False  False    False  False      False      False    False
1703    False      False  False    False  False      False      False    False

[1704 rows x 8 columns]

In [15]:
df.isnull().sum()

country      0
continent    0
year         0
lifeExp      0
pop          0
gdpPercap    0
iso_alpha    0
iso_num      0
dtype: int64

In [16]:
df.columns

Index(['country', 'continent', 'year', 'lifeExp', 'pop', 'gdpPercap',
       'iso_alpha', 'iso_num'],
      dtype='object')

In [17]:
df.pivot_table(index=['continent'], aggfunc='size')

continent
Africa      624
Americas    300
Asia        396
Europe      360
Oceania      24
dtype: int64

1.The mean life expectancy of all the Asian countries according to the data

In [20]:
df.groupby('continent','country'=='Asia')['lifeExp'].mean()

continent
Africa      48.865330
Americas    64.658737
Asia        60.064903
Europe      71.903686
Oceania     74.326208
Name: lifeExp, dtype: float64

3.The change in population of each African country in the last 3 decades.

In [ ]:
ctr1 = df['country'].loc[df['continent'] == 'Africa'].unique()
print("Countries in Africa: ", ctr1)
print("\nTotal number of countries in Africa: ", len(ctr1))

In [ ]:
df_africa =df.query("continent == 'Africa'")  # query() method queries the columns of a DataFrame with a boolean expression.
fig = px.bar(df_africa, x='year', y='pop', height=450, title = "Population of Africa", color = 'country')
fig.show()

In [ ]:
def graph_world(feature):
    to_be_mapped = feature
    vmin, vmax = 0,100
    fig, ax = plt.subplots(1, figsize=(25,25))

    mapped.plot(column=to_be_mapped, cmap='Blues', linewidth=0.8, ax=ax, edgecolors='0.8')
    ax.set_title('x', fontdict={'fontsize':30})
    ax.set_axis_off()

    sm = plt.cm.ScalarMappable(cmap='Blues', norm=plt.Normalize(vmin=vmin, vmax=vmax))
    sm._A = []

    cbar = fig.colorbar(sm, orientation='horizontal')

In [ ]:
df.corr()

In [ ]:
df_mean = df.groupby(['continent']).mean()

In [ ]:
df_mean.head()

In [ ]:
df_mean

In [ ]:
plt.bar(df["continent"], df["lifeExp"])
plt.show()

2.Deviation in GDP of each country in Europe and South America.

In [ ]:
sns.barplot(y='country', x='gdpPercap', data=df[df['continent'] == 'Europe'])

In [ ]:
sns.barplot(y='country', x='gdpPercap', data=df[df['continent'] == 'Americas'])